<div
  class="card card--visa w-full rounded-2xl text-white p-5"
>
  <h1 class="text-3xl font-bold mb-1">خدمات تخصصی ویزا</h1>
  <p class="text-sm mb-4">ویزا و اقامت از ۳۲ کشور مختلف</p>
  <ul class="mb-8">
    <li class="flex mb-1">
      <mat-icon class="text-yellow-300">bolt</mat-icon>
      <p>در کمترین زمان ممکن</p>
    </li>
    <li class="flex mb-1">
      <mat-icon class="text-sky-300">verified</mat-icon>
      <p>تضمین شده</p>
    </li>
    <li class="flex mb-1">
      <mat-icon class="text-green-300">attach_money</mat-icon>
      <p>به صرفه</p>
    </li>
  </ul>
  <div class="w-full flex justify-end">
    <button
      class="card__button--visa font-iran bg-white shadow rounded-md text-black p-2 px-5"
      mat-button
    >
      دریافت مشاوره رایگان
    </button>
  </div>
</div>

<div
  class="card card--global w-full rounded-2xl text-white p-5"
>
  <h1 class="text-3xl font-bold mb-1">مهاجرت و اقامت</h1>
  <p class="text-sm mb-4">(تحصیلی، کاری و سرمایه گذاری)</p>
  <ul class="mb-8">
    <li class="flex mb-1">
      <mat-icon class="text-yellow-300">bolt</mat-icon>
      <p>در کمترین زمان ممکن</p>
    </li>
    <li class="flex mb-1">
      <mat-icon class="text-sky-300">verified</mat-icon>
      <p>تضمین شده</p>
    </li>
    <li class="flex mb-1">
      <mat-icon class="text-green-300">attach_money</mat-icon>
      <p>به صرفه</p>
    </li>
  </ul>
  <div class="w-full flex justify-end">
    <button
      class="card__button--global font-iran bg-white shadow rounded-md text-black p-2 px-5"
      mat-button
    >
      دریافت مشاوره رایگان
    </button>
  </div>
</div>

<div
  class="card card--license w-full rounded-2xl text-white p-5"
>
  <h1 class="text-3xl font-bold mb-1">وقت سفارت و پیک آپ پاسپرت</h1>
  <p class="text-sm mb-4"></p>
  <ul class="mb-8">
    <li class="flex mb-1">
      <mat-icon class="text-yellow-300">bolt</mat-icon>
      <p>در کمترین زمان ممکن</p>
    </li>
    <li class="flex mb-1">
      <mat-icon class="text-sky-300">verified</mat-icon>
      <p>تضمین شده</p>
    </li>
  </ul>
  <div class="w-full flex justify-end">
    <button
      class="card__button--license font-iran bg-white shadow rounded-md text-black p-2 px-5"
      mat-button
    >
      دریافت مشاوره رایگان
    </button>
  </div>
</div>

<div
  class="card card--local w-full rounded-2xl text-white p-5"
>
  <h1 class="text-3xl font-bold mb-1">تور های داخلی و خارجی</h1>
  <p class="text-sm mb-4">خدمات مربوط به تور های داخلی و خارجی و ارائه بلیط هواپیما</p>
  <ul class="mb-8">
    <li class="flex mb-1">
      <mat-icon class="text-yellow-300">bolt</mat-icon>
      <p>در کمترین زمان ممکن</p>
    </li>
    <li class="flex mb-1">
      <mat-icon class="text-green-300">attach_money</mat-icon>
      <p>به صرفه</p>
    </li>
  </ul>
  <div class="w-full flex justify-end">
    <button
      class="card__button--local font-iran bg-white shadow rounded-md text-black p-2 px-5"
      mat-button
    >
      دریافت مشاوره رایگان
    </button>
  </div>
</div>
