<section class="my-5 container mx-auto">
  <h1 class="heading">سوالات متداول</h1>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          بهترین راه برای مهاجرت به یک کشور مهاجر پذیر چیست؟
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="bg-blue-400 w-full lg:w-auto" mat-flat-button (click)="crispService.openChat()">دریافت پاسخ از کارشناس</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          کدام روش مهاجرت راحت تر و مناسب تر است؟ (Skill Worker یا Express Entry)
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="bg-blue-400 w-full lg:w-auto" mat-flat-button (click)="crispService.openChat()">دریافت پاسخ از کارشناس</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          اخذ پذیرش تحصیلی در دانشگاه های تاپ و طرازاول کدام کشور راحت تر است؟
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="font-iran">آمریکا - کانادا - استرالیا - انگلستان</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          هزینه تحصیل در مقاطع مختلف در دانشگاه های کدام کشور انگلیسی زبان پایین تر است؟
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="bg-blue-400 w-full lg:w-auto" mat-flat-button (click)="crispService.openChat()">دریافت پاسخ از کارشناس</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          چه مدارکی برای اخذ بورسیه با اسکالرشیپ تحصیلی در مقطع دکترا مورد نیاز است؟
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="bg-blue-400 w-full lg:w-auto" mat-flat-button (click)="crispService.openChat()">دریافت پاسخ از کارشناس</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          آیا اخذ پذیرش و ویزای تحصیلی بدون مدرک زبان امکان پذیر است؟
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="bg-blue-400 w-full lg:w-auto" mat-flat-button (click)="crispService.openChat()">دریافت پاسخ از کارشناس</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          مهاجرت از طریق تمکن مالی در کدام کشورها امکان پذیر است؟
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="bg-blue-400 w-full lg:w-auto" mat-flat-button (click)="crispService.openChat()">دریافت پاسخ از کارشناس</button>
    </mat-expansion-panel>
  </mat-accordion>

</section>
