<app-hero></app-hero>
<app-services></app-services>
<app-visa></app-visa>
<app-faq></app-faq>
<footer>
  <h1 class="heading container mx-auto">افق بال فرشتگان</h1>
  <div class="bg-blueGray-700 p-3">
    <div class="container mx-auto flex gap-3">
      <a mat-flat-button class="bg-green-500 flex items-center gap-3 font-iran" href="tel:02175035000">
        <mat-icon>call</mat-icon>
        تماس با ما
      </a>
      <a mat-flat-button class="bg-sky-500 flex items-center gap-3 font-iran" href="tel:02175035000">
        <mat-icon>question_answer</mat-icon>
        گفتگو با پشتیبانی
      </a>
    </div>
  </div>
</footer>
