@font-face {
  font-family: iran;
  font-weight: 400;
  src: url('../../assets/fonts/IRANSans.ttf') format('truetype');
}

@font-face {
  font-family: iran;
  font-weight: 700;
  src: url('../../assets/fonts/IRANSans_Bold.ttf') format('truetype');
}
